body {
    max-height: 150px;
}
.main {
    display: flex;
    flex-direction: column;
}
#main-div {
    width: 50%;
    margin: 10% 25%;
}

.logo {
    display: block;
    margin: auto;
}

.icon {
width: 20px;
}

.profile-pix {
    width: 37px;
    border-radius: 50%;
    padding-top: -5px;
}

.nav-div li {
    word-spacing: 3px;
    margin-left: 15px;
}

.nav-div li a {
    color: black !important;
}

.nav-div li button {
    background-color: lightblue;
    color: white !important;
}
.nav-div{

    display: flex;
    flex-direction: row;
    word-spacing: 7px;
    justify-content: flex-end;
    list-style: none;
    font-size: 13px;
    padding-top: 3px;
}

/* ul li {
    display: inline-block;
    margin-top: 5px;
} */

.inputs {
    display: block;
    margin: auto;
    width: 500px;
    height: 36px;
    border: 0;
    border-radius: 20px;
    background-color: lightgray;
    margin-top: 26px;
}
.little-texts {
    display: flex;
    flex-direction: row;
    font-weight: 100;
    margin: 4% auto;
    padding-bottom: 10%;
    width: 43%;
    justify-content: space-around;
}

.little-texts span {
    background-color: whitesmoke;
}

.footer-nav  {
    display: row;
    flex-direction: row;
    background-color: whitesmoke;
}

.footer-list1, .footer-list1 li {
    list-style: none;
    display: inline-block;
    padding-left: 5px;
    padding-right: 13px;
}

.footer-list2, .footer-list2 li {
    list-style: none;
    padding-left: 13px;
    padding-right: 5px;
    float: right;
}
